* {
    font-family: "Inter", sans-serif;
}

.home-content li {
    list-style: none;
}

.home-content li i,
.home-content span {
    color: rgb(0, 162, 255) ;
}

.home-content p,
.home-content li {
    font-size: 1.2rem;
}

.btn-book-down {
    width: 100%;
    display: flex;
    gap: 8px;
}

.btn-book-down button {
    width: 40%;
}

.btn-blue-grad {
    color: white;
    background: linear-gradient(to right, #0acefe, #2699fb) ;
}































































@media only screen and (min-width:200px) and (max-width:575px) {
    
    
    header .buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center !important;
        margin-bottom: 5px;
    }

    br {
        display: none;
    }

    .home-content p,
    .home-content li {
        font-size: 1rem;
    }

    .btn-book-down {
        flex-direction: column;
    }

    .btn-book-down button {
        width: 100%;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
    }
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}