* {
    font-family: "Inter", sans-serif;
}


















































































@media only screen and (min-width:200px) and (max-width:575px) {
    
    
    header .buttons {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center !important;
        margin-bottom: 5px;
    }
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
    }
}